@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.gran-contenedor {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    font-family: 'Merriweather', serif;
    position: relative;
    background-image: url('https://img.freepik.com/premium-photo/serene-spa-background-with-balanced-stones-bamboo-leaves-symbolizing-tranquility-wellness_973127-11888.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        -8px 8px 0 rgba(220, 220, 220, 0.5),
        -16px 16px 0 rgba(200, 200, 200, 0.4);
}



.titulo-principal {
  font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    color: #2c4735;
    padding: 10px 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-shadow: 0 0 5px #ffffffaa;
    transition: transform 0.3s ease;
    opacity: 0;
    animation: aparecer 2s ease-out forwards;
}

.titulo-principal:hover {
    transform: scale(1.03);
}

@keyframes aparecer {
    to {
        opacity: 1;
    }
}




.lista-tareas {
  font-family: 'Merriweather', serif;
    font-size: 2rem;
    color: #2c4735;
    padding: 10px 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
    display: inline-block;
    backdrop-filter: blur(4px);
    transition: transform 0.3s ease;
}

.lista-tareas:hover {
    transform: scale(1.05);

}

.btn-outline-danger {
  padding: 3px 8px;       
  font-size: rem;     
  border-radius: 12px;    
  border-color: #5ee4e9;
  color: #2c4735;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  gap: 5px;                 
  transition: background-color 0.5s ease;
}


.btn-outline-danger:hover {
    background-color: #9fccc4;
    color: #080808;
}






.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 3px solid #6e6565;
    border-radius: 5px;
}



.tarea-item {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 14px 18px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #070707;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarea-item:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}





.btn {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: transparent(255, 255, 255, 0.4);
    border: 0;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(109, 212, 204, 0.973);
    padding: 16px 20px;
    color: #385e4e;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    backdrop-filter: blur(4px);
}

.btn:hover {
    transform: scale(1.05);
}

.btn .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
}